// susy container for columns
.container {
  @include container;
}

* { @include normal; }

h1, h2, h3, h4, h5, h6 {
  @include bold;
  display: block;
  text-align: center;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 13px;
}
h6 {
  font-size: 11px;
}
label {
  font-size: 14px;
  @include bold;
  display: block;
}
